a{
    color:#47649F;
}

h2,h3,h4,h5,h6{
	font-family: 'Source Sans Pro', sans-serif;
}

body{
    font-family:'helvetica';    
	background-color:#F7F3F3;
}

/*-- Bootstrap Override Style --*/


/*-- Content Style --*/
#publicarestado{
	margin-bottom:5px;
	margin-top:3px;
}

.principal .row .card{
	width:100%;
}

.hija{
	margin-bottom :10px;
}

.pull-right{
	float:right;
}

#navegacion{
	width:100%;
}

textarea {
  resize: none;
}

.profilepic{
	width:50px;
	height:50px;
}

.archivo{
	padding: 1.25rem;
	background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.nodeclink{
	text-decoration:none;
	color:black;
}

.nodeclink:hover{
	text-decoration:none;
	color:black;
}
.full-width{
	width:100%;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.comentarios li{
	background-color:#D5E2E7;
	font-size:12px;
}

.list-group-item{
	padding:5px;
}

.unhiglight{
	color:#737373;
}